.form-control {
    width: 2000px
}

svg {
    height: 150px;
}

th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

td:first-of-type > div {
    height: 190px;
    width: 250px;
}